/* Logo */
.logo {
    width: 3rem;
}
/* end Logo */

/* Navbar */
nav.nav-yayuk-salon {
    background-color: #915898;
}
nav .nav-link {
    color: #e3d6e0 !important;
    font-size: 1rem;
}
nav .nav-link:hover {
    color: white !important;
}
/* End Navbar */

/* Showcase */
.showcase {
    min-height: 65vh;
}
.bg-start {
    background-color: #915898;
}
.first {
    color: #e3d6e0;
}
.responsive-img {
    width: 30rem;
}
.responsive-img-phone {
    display: none;
    width: 15rem;
}
/* .img {
    width: 300px;
    height: 200px;
  } */
/* End Showcase */

/* Description */
#description {
    font-size: 14px;
    text-align: justify;
}
/* End description */

/* Show main service */
.show-main-service {
    background-image: url("../assets/img/background.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.show-main-service .container {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    height: 0;
}
.show-main-service::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #915898;
    opacity: 0.8;
    z-index: -1;
    top: 0;
    left: 0;
}
.service-description {
    text-align: center;
    color: #e3d6e0;
}
.icon {
    background-color: #e3d6e0;
}
.icon:hover {
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.btn-bg-ys {
    background-color: #e3d6e0;
    color: #000;
}
/* End Show Main Service */

/* Operationaal Work */
.oper {
    padding: 8em 10rem;
}

.operational {
    background-image: linear-gradient(to right, #e3d6e0, #915898);
}
.working-hours {
    border-bottom: 1px solid #000;
    width: 75%;
}
/* End Operational Work */

/* Show Main Product */
.card {
    width: 15rem;
    height: 14.3rem;
}
.card:hover .card-img-top {
    transform: scale(1.04);
}
.card-img-top {
    transition: transform 0.4s;
    width: 15rem;
    height: 8.6rem;
    object-fit: contain;
}
/* End Show Main Product */

/* User Booking */
.booking-user {
    min-height: 100vh;
}
.service-checkbox {
    cursor: pointer;
}
.list-service {
    cursor: pointer;
}

/* End User Booking */

/* Form Booking */

/* List-Service */
.list-services {
    max-height: 25rem;
    overflow-y: scroll;
}
.service-information {
    width: 100%;
}
.description-service {
    font-size: 0.9rem;
    margin-bottom: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.list-services::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-services {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* ENd List-service */

.booking-form {
    min-height: 100vh;
}
.brown-text {
    color: grey;
}

/* Date */

/* End Date */

/* Nota */

.nota {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}
.info-yayuk {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}
.nota-total {
    border-top: 1px solid black;
}

/* Nota Item Total */
.nota-item-total {
    max-height: 15rem;
    overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.nota-item-total::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nota-item-total {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* ENd Nota Item Total */

/* date-time */
.date-time {
    border-bottom: 1px solid black;
}
/* End date-time */
/* End Nota */

/* End Form Booking */

.pagination {
    background-color: white;
    margin-top: 1rem;
}

/* Footer */
footer {
    color: #e3d6e0;
    background-color: #915898;
}
/* End Footer */

/* Product */

/* Title */
.title {
    background-color: #915898;
    padding: 5rem;
    margin-top: 3rem;
}
/* EndTitle */

/* List Produk */
.product-main {
    min-height: 75vh;
}
.contain-card .card-product {
    width: 15rem;
    height: 19rem;
}

/* Category */
.category-text {
    background-color: #915898;
    color: white;
}

div.scrollmenu {
    background-color: #915898;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: #e3d6e0;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a.active {
    background-color: #e3d6e0;
    color: #777;
}

div.scrollmenu a:hover {
    background-color: #e3d6e0;
    color: #777;
}
/* End Side Category */

.card:hover {
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.card:hover .card-img-product {
    transform: scale(1.04);
}
.img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-img-product {
    transition: transform 0.4s;
    width: 15rem;
    height: 8.6rem;
    object-fit: contain;
}

.category-name {
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
}
/* End List Produk */

/* End Product */

/* Product Info */

.product-info {
    min-height: 85vh;
}
.product-image-description {
    width: 28em;
}
.description-product {
    width: 33rem;
}
.product-image {
    max-height: 16rem;
}

/* End Product Info */

/* Service */
.service {
    min-height: 60vh;
}

.item-service {
    text-decoration: none;
    color: #000;
}
.item-service:hover {
    color: #000;
}
.service .container .list-group .list-group-item:hover {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* List Service */
/* End List Service */

/* End Service */

@media (max-width: 1200px) {
    /* Index */
    .showcase {
        min-height: 50vh;
    }
    .card-index {
        width: 12rem;
        height: 14.3rem;
    }
    .card-img-top {
        width: 12rem;
        height: 8rem;
    }
    /* End Index */

    /* Product */
    .contain-card .card-product {
        width: 12rem;
        height: 19rem;
    }
    .card-img-product {
        width: 12rem;
        height: 9rem;
    }
    /* End Poduct */

    /* Product Info */
    .product-image-description {
        width: 23rem;
    }
    .description-product {
        width: 29rem;
    }
    .product-image {
        max-height: 16rem;
    }
    /* End Product Info */
}

@media (max-width: 992px) {
    /* Index */
    .responsive-img {
        width: 20rem;
    }
    .item-3 {
        margin: 8px auto 0px;
    }
    .card-index {
        width: 9rem;
        height: 14.3rem;
    }
    .contain-card {
        padding: 0px;
    }
    .card-img-top {
        width: 9.2rem;
        height: 7.5rem;
    }
    /* End Index */

    /* Product */
    .contain-card .card-product {
        width: 17rem;
        height: 17.8rem;
    }
    .card-img-product {
        width: 17rem;
        height: 7.5rem;
    }
    /* End Product */

    /* Product Info */
    .product-image-description {
        width: 17em;
    }
    .product-image {
        max-height: 10rem;
    }
    .description-product {
        width: 20rem;
        font-size: 0.9rem;
    }
    .description-product h2 {
        font-size: 1.3rem;
    }
    .description-product h3 {
        font-size: 1rem;
    }
    /* End Product Info */
}

@media (max-width: 768px) {
    /* Index */
    .oper {
        padding: 5em 2em;
    }
    .text-working-hours {
        text-align: center !important;
    }
    .working-hours {
        width: 100%;
    }
    .showcase {
        min-height: 47vh;
    }
    .responsive-img {
        width: 15rem;
    }
    .icon {
        width: 6.5rem;
        margin: 1.5rem auto 0;
    }
    .contain-card {
        padding: 0rem !important;
    }
    .card {
        width: 15rem;
        margin: 0px auto !important;
    }
    .card-img-top {
        width: 15rem;
        height: 9rem;
    }
    /* End Index */
    /* Product */
    .contain-card .card-product {
        width: 17rem;
        height: 17.8rem;
    }
    .card-img-product {
        width: 17rem;
        height: 7.5rem;
    }
    /* End Product */

    /* Product Info */
    .product-image-description {
        width: 12rem;
        margin: 0px auto;
        max-height: 20rem;
    }
    .product-image {
        max-height: 7rem;
    }
    .description-product {
        width: 16rem;
        font-size: 0.7rem;
    }
    .description-product h2 {
        font-size: 1.1rem;
    }
    .description-product h3 {
        font-size: 0.8rem;
    }
    /* End Product Info */

    footer .lead {
        font-size: 0.8rem;
    }
    footer .bi {
        font-size: 1rem;
    }
}
@media (max-width: 576px) {
    /* Index */
    .description {
        padding: 0px;
    }
    .responsive-text {
        font-size: 0.8rem;
    }
    .card {
        width: 13rem;
        margin: 0px auto !important;
    }
    .card-img-top {
        width: 13rem;
        height: 8rem;
    }
    .responsive-img-phone {
        display: block;
    }
    .product {
        padding: 0 !important;
    }
    /* End Index */

    /* Product */
    .product-main {
        padding: 0px !important;
    }
    /* End Product */
    /* Product Info */
    .product-image-description {
        width: 17rem;
        margin: 0px auto 1rem auto;
        justify-content: center !important;
    }
    .product-image {
        max-height: 10rem;
    }
    .description-product {
        width: 17rem;
        margin: 0px auto;
    }
    /*End Product Info */
}
@media (max-width: 400px) {
    .contain-card .card-product {
        width: 12rem;
        height: 16.8rem;
    }
    .card-index {
        width: 12rem;
        height: 14.3rem;
    }
    .card-img-product {
        width: 12.2rem;
        height: 7.5rem;
    }

    /* Product Info */
    .product-image-description {
        width: 12rem;
        margin: 0px auto 1rem auto;
    }
    .product-image {
        max-height: 10em;
    }
    .description-product {
        width: 12rem;
        margin: 0px auto;
    }
    /*End Product Info */
}
